.not-found-container {
    width: 100vw;
    height: 80vh;
}

.not-found-oops {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.not-found-content {
    display: flex;
    justify-content: center;
    font-weight: 300;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) {
    .not-found-oops {
        font-size: 4rem;
    }

    .not-found-content {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 600px) {
    .not-found-oops {
        font-size: 7.5rem;
    }

    .not-found-content {
        font-size: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .not-found-oops {
        font-size: 9.6rem;
    }

    .not-found-content {
        font-size: 1.92rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .not-found-oops {
        font-size: 12.4rem;
    }

    .not-found-content {
        font-size: 2.48rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .not-found-oops {
        font-size: 15rem;
    }

    .not-found-content {
        font-size: 3rem;
    }
}
