.CustomDropDown {
  height: 50 !important;
}

.CustomDropDown select {
  border: none;
  box-shadow: none;
  outline: none;
}

.CustomDropDown select:focus {
  outline: none !important;
}

.form-group p {
  font-size: 1.5rem;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.contentReview {
  width: 100%;
}
