.Container {
  width: 100vw;
  height: auto;
  background-color: #e5f1fa !important;
}

.general-content {
  background-color: #e5f1fa !important;
}

.Title h2 {
  padding-left: 15vw;
  padding-right: 15vw;
}

.TitleForm {
  padding-left: 15vw;
  padding-right: 15vw;
  height: 60px;
}

.TitleForm div > div {
  height: 60px;
  margin-right: 2rem;
}

.TitleForm > div button {
  height: 100%;
}

@media (max-width: 768px) {
  .Container div button {
    margin-left: 0px !important;
  }
  .Title h2 {
    padding: 0;
    text-align: center;
  }

  .TitleForm {
    padding: 0;
    height: auto;
  }

  .TitleForm div > div {
    margin-right: 0;
    height: 50px;
    flex: 1;
    margin-bottom: 0.5rem;
  }

  .TitleForm > div {
    width: 100%;
    margin-top: 0.5rem;
  }

  .TitleForm > div button {
    width: 100%;
  }
}

.Logo {
  width: 50px;
  height: 50px;
  display: block;
}

.recentContainer a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
