.my-container {
    background-color: #e5f1fa !important;
    display: inline-block;
}

.header-view {
    background-color: #343a40;
}

.university-information {
    display: flex;
    max-width: 1200px;
    padding: 0 0 2rem;
}

.university-image {
    min-width: 200px;
}

.my-logo {
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    border: 1px solid #FCFCFC;
}

.university-information-details {
    display: block;
    width: 100%;
    padding: 0 0 0 1rem;
}

.university-information-details-name {
    font-size: 2rem;
    font-weight: bold;
    color: #FCFCFC;
}

.university-information-details-departments {
    font-size: 1.25rem;
    color: #FCFCFC;
}

.university-information-details-location {
    font-size: 1.25rem;
    color: #FCFCFC;
}

.university-information-details-praise-and-blame {
    font-size: 1.25rem;
    font-weight: 500;
}

.university-information-details-praise {
    text-decoration: underline;
}

.university-information-details-blame {
    margin-left: 1rem;
    text-decoration: underline;
}

.university-information-details-button-review {
    background-color: transparent;
    position:absolute;
    bottom:0;
    right:0;
    color: #FCFCFC;
    border: 1px solid #FCFCFC;
    border-radius: 5px;
    min-width: 8rem;
    max-width: 8rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.university-information-details-button-review:hover {
    font-weight: 600;
    border-width: 0;
    color: #138496;
    box-shadow: 0 0 0 1pt #138496;
}

.line{
    width: 100%;
    border-bottom: 3px solid black;
    position: absolute;
}

.review-number {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0.5rem 3rem 0.5rem;
}





/* ===========================================================================
/*                              RESPONSIVE
/* ===========================================================================

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .university-information-details-button-review {
        margin-top: 0.5rem;
    }

    .university-information {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}