.scroll {
    opacity: 0.8;
    background-color: #343a40;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    padding: 0;
}

.scroll:hover {
    opacity: 1;
    border: 2px solid red;
}

.arrow-icon {
    width: 35px;
    height: 35px;
    color: red;
}