.review-container {
    border: 1px solid #4b4b4b;
    background: #FCFCFC;
    margin: 1rem 3rem 1rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

p {
    margin: 0;
}

.review-identification {
    font-size: 1.5rem;
    font-weight: 500;
    color: #8c8c8c;
}

.review-creation-time {
    margin-top: 0.5rem;
    margin-left: auto;
    font-weight: 500;
}

.review-type {
    color: green;
    font-weight: 500;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.type-blame {
    color: red;
}

.review-content {
    border: 1px solid #979797;
    background: #ffffff;
    border-radius: 3px;
}

.reply-button {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 5px;
    border: 0 solid black;
    min-width: 80px;
    font-weight: 500;
    outline: 0 !important;
    min-height: 35px;
}

.show-reply-button {
    background-color: transparent;
    border-width: 0;
    color: blue;
    outline: 0 !important;
    cursor: pointer;
    margin-left: 0.5rem;
}

.reply-block {
    overflow-y: scroll;
    max-height: 500px;
}

.show-replies {
    border-top: 1px dashed #4b4b4b;
}
